[font]
size = 10

  [font.normal]
  family = "Iosevka Term"
  style = "Regular"

  [font.bold]
  style = "Bold"

  [font.italic]
  style = "Italic"

  [font.bold_italic]
  style = "Bold Italic"

[scrolling]
history = 1_000

[shell]
program = "/bin/zsh"
