# commonly used settings for local.yml
font:
  normal:
    family: "Iosevka Nerd Font"
    style: Regular
  bold:
    style: Bold
  italic:
    style: Italic
  bold_italic:
    style: Bold Italic

  size: 14.0

window:
  # MacOS Only
  # Make `Option` key behave as `Alt` (macOS only):
  #   - OnlyLeft
  #   - OnlyRight
  #   - Both
  #   - None (default)
  #option_as_alt: OnlyRight

scrolling:
  history: 1000

shell:
  program: /bin/zsh
