# Bus 003 Device 020: ID 16d0:1182 MCS MoveMaster RSG1
SUBSYSTEMS=="tty", ATTRS{idVendor}=="16d0", ATTRS{idProduct}=="1182", MODE="0660", TAG+="uaccess"
