# Helpers are user-defined functions that can be executed inside templates.
# This section is optional.
[helpers]
string_in_file = "./helpers/string_in_file.rhai"

[alacritty]
depends = ["shell"]

[alacritty.files]
"alacritty/alacritty.toml" = "~/.config/alacritty/alacritty.toml"
"alacritty/themes"         = "~/.config/alacritty/themes/themes"
"alacritty/local.toml.tpl" = { target = "~/.config/alacritty/local.toml", type = "template" }

[bash]
depends = ["shell"]

[bash.files]
"bash/bash_profile" = { target = "~/.bash_profile", type = "symbolic", if = "(eq login_shell bash)" }
"bash/bashrc"       = { target = "~/.bashrc", type = "symbolic", if = "(eq login_shell bash)" }

[bash.variables]
login_shell = "bash"

[graphics.variables.font]
regular   = "Noto Sans"
monospace = "Iosevka Term"
size      = 12

[graphics.variables.color16]
# modified seoul256-light
background = "d1d0d0"
foreground = "4e4e4e"
cursor     = "4e4e4e"
# In terminal color index order
black        = "4e4e4e"
red          = "af5f5f"
green        = "5f885f"
yellow       = "af8760"
blue         = "5f87ae"
magenta      = "875f87"
cyan         = "5f8787"
light_gray   = "e4e4e4"
dark_gray    = "3a3a3a"
light_red    = "870100"
light_green  = "005f00"
light_yellow = "d8865f"
light_blue   = "0087af"
light_purple = "87025f"
light_cyan   = "008787"
white        = "eeeeee"

[linux.files]
"misc/udev-rules" = { target = "/etc/udev/rules.d/", type = "symbolic", owner = "root" }

[shell.files]
"config/atac"           = { target = "~/.config/atac", type = "symbolic", if = '(is_executable "atac")' }
"config/atuin"          = { target = "~/.config/atuin", type = "symbolic", if = '(is_executable "atuin")' }
"config/git/config.tpl" = { target = "~/.config/git/config", type = "template" }
"config/git/hooks"      = { target = "~/.config/git/hooks", type = "symbolic" }
"config/gitui"          = { target = "~/.config/gitui", type = "symbolic", if = '(is_executable "gitui")' }
"config/mise"           = "~/.config/mise"
"config/ripgrep"        = { target = "~/.config/ripgrep", type = "symbolic", if = '(is_executable "rg")' }
"config/taplo"          = { target = "~/.config/taplo", type = "symbolic", if = '(is_executable "taplo")' }
"config/twm"            = { target = "~/.config/twm", type = "symbolic", if = '(is_executable "twm")' }
"config/yamllint"       = { target = "~/.config/yamllint", type = "symbolic", if = '(is_executable "yamllint")' }
"misc/common.sh"        = { target = "~/.config/common.sh", type = "symbolic" }                                   # explictly state this is a symbolic link and not a template due to use of {{  }} in some functions
# "misc/common.sh.tpl" = { target = "~/.config/common.sh", type = "template" } # TODO finish modularizing template and migrate
"misc/editorconfig" = "~/.editorconfig"
tmux                = "~/.config/tmux"

# [shell.files.git]

[shell.variables]
editor         = "nvim"
git_hooks_path = "~/.config/git/hooks"
pager          = "delta"

[vim.files]
# TODO migrate to nvim proper and send the whole dir?
# TODO VIMDOTDIR AND VIMINIT
# TODO nvim colors?
# nvim = "~/.config/nvim"
# "vim/vimrc"  = { target = "~/.vimrc", type = "symbolic" } # requires a manual link as dual entries are not supported because this isnt valid TOML
"vim/vimrc"        = { target = "~/.config/nvim/init.vim", type = "symbolic", if = '(is_executable "nvim")' }
"vim/colors"       = "~/.vim/colors"
"vim/custom-snips" = { target = "~/.vim/custom-snips", type = "symbolic" }

[zsh]
depends = ["shell"]

[zsh.files]
# zshenv can be edited in /etc/zsh/zshenv or /etc/zshenv to bypass this file entirely
"zsh/zshenv" = "~/.zshenv"
"zsh/zshrc"  = "~/.config/zsh/.zshrc"

[zsh.variables]
login_shell = "zsh"
